[submodule "Util/CompiledNN"]
  path = Util/CompiledNN
  url = https://github.com/sergey-semendyaev/CompiledNN.git
[submodule "Util/SimRobot"]
  path = Util/SimRobot
  url = https://github.com/sergey-semendyaev/SimRobot.git
